*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.desktop{
    height: 100%;
    width: 100%;
    background-image: url('./images/macos-bg.jpg');
    background-position: center;
    background-size: cover;
}

.desktop-main{
    width: 100%;
    padding: 20px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}

.widgets{
    background-color: green;
}

.files{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    gap: 25px;
    max-height: 100vh;
}

.file{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-img{
    /* background-color: red; */
    width: 80px;
}

.file-img img{
    width: 100%;
}

.file-text h3{
    font-size: 0.8rem;
    color: white;
    font-weight: 700;
}

.dock{
    bottom: 0;
    width: 50%;
    background-color: red;
    padding: 20px;
    display: flex;
    transform: translateX(50%);
}